DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Agar exact file exist karti hai, use serve karo
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  # Agar directory exist karti hai (jaise /about/), uske andar ka index.html serve karo
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^(.*[^/])$ $1/ [L,R=301]

  # Agar .html file exist karti hai bina extension ke, usse serve karo
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]
</IfModule>

ErrorDocument 404 /404.html
